{block title}{_'Důvody absencí'}{/block}
{block description}{_'Seznam důvodů absencí'}{/block}
{block header-icon}<i class="fa fa-calendar-times icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="AbsenceReason:edit" class="btn btn-primary">
        {_'Nový důvod absence'}
    </a>
{/block}
{block content}
    {control table}
{/block}