{block title}{_'Sklady materiálů'}{/block}
{block description}{_'Seznam skladů materiálů'}{/block}
{block header-icon}<i class="fa fa-warehouse icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="MaterialStock:edit" class="btn btn-primary">
        {_'Nový sklad'}
    </a>
{/block}
{block content}
    {control table}
{/block}