{block title}{_'Poptávky'}{/block}
{block description}{_'Přehled poptávky'}{/block}
{block header-icon}<i class="fa fa-address-card icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    {*<a n:href="Configurator:edit" class="btn btn-primary">
        {_'Nový konfigurátor'}
    </a>/*}
{/block}
{block content}

    <div class="card card-parent">
    <div class="card-body">
        {control table}
    </div>
    </div>

{/block}