{block title}{_'Obory'}{/block}
{block description}{_'Seznam oborů'}{/block}
{block header-icon}<i class="fa fa-square icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Fields:edit" class="btn btn-primary">
        {_'Nový obor'}
    </a>
{/block}
{block content}
    {control table}
{/block}