{block title}{_'Materiály nutno objednat'}{/block}
{block description}{_'Seznam potřebných materiálů pro dokončení zakázky'}{/block}
{block header-icon}<i class="fa fa-shopping-basket icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
{/block}
{block content}
    {control table}
{/block}