{block title}{_'DPH'}{/block}
{block description}{_'Seznam DPH'}{/block}
{block header-icon}<i class="fa fa-hand-holding-usd icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Vat:edit" class="btn btn-primary">
        {_'Nová DPH'}
    </a>
{/block}
{block content}
    {control table}
{/block}