{block title}{_'Typy položek OP'}{/block}
{block description}{_'Seznam typů položek OP'}{/block}
{block header-icon}<i class="fa fa-clone icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="ItemType:edit" class="btn btn-primary">
        {_'Nový typ položky'}
    </a>
{/block}
{block content}
    {control table}
{/block}