{block title}{_'Služby'}{/block}
{block description}{_'Seznam služeb'}{/block}
{block header-icon}<i class="fa fa-medkit icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="Service:edit" class="btn btn-primary">
        {_'Nová služba'}
    </a>
{/block}
{block content}
    {control table}
{/block}