{_'Dobrý den,'}
<br>
{_'v Informačním systému Webrex demo Vám byl vytvořen nový úkol: '}<br>
<a href="{link Intra:Task:edit id => $task->id}">{$task->name}</a>
<br><br>

{_'S přáním pěkného dne,'}<br>
<a href="{link Intra:Homepage:default}">Intra Webrex demo</a><br>