{$text|noescape}

<br><br>

Pro zobrazení detailu nabídky pokračujte tlačítkem níže:<br><br>

<a n:href="Offer:accept acceptCode => $offer->acceptCode" style="padding:4px 8px; border:1px solid #ddd; border-radius:4px; color:#000; text-decoration:none; background:#fff">Přejít na nabídku</a>

<br><br>

{$webSettings['default_email_footer']|noescape}