Dobrý den,<br>
v příloze zasíláme dokumenty k {$msg}<br>
z provozovny: {$traffic->name}
<br><br>
{if isset($noteForm)}
{nl2br($noteForm)|noescape}
{/if}
<br><br>
S pozdravem<br><br>
WebRex s.r.o.<br>
Benešova 28, 586 01 Jihlava<br>
Telefon: <a href="tel:+420775932739">+420 775 932 739</a><br>
Email: <a href="mailto:info@webrex.eu">info@webrex.eu</a><br>
Web: <a href="https://www.webrex.eu/">www.webrex.eu</a>
