{block title}{_'Normy'}{/block}
{block description}{_'Nastavení normy pro schvalování'}{/block}
{block header-icon}<i class="fa fa-book icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="ApproveNorm:edit" class="btn btn-primary">
        {_'Nová norma'}
    </a>
{/block}
{block content}
    {control table}
{/block}