{block title}{_'Oddělení'}{/block}
{block description}{_'Seznam oddělení'}{/block}
{block header-icon}<i class="fa fa-square icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Departments:edit" class="btn btn-primary">
        {_'Nové oddělení'}
    </a>
{/block}
{block content}
    {control table}
{/block}