{block title}{_'Kvalifikace'}{/block}
{block description}{_'Seznam kvalifikace'}{/block}
{block header-icon}<i class="fa fa-cogs"></i>{/block}
{block header-actions}
    <a n:href="Qualifications:edit" class="btn btn-primary">
        {_'Nová kvalifikace'}
    </a>
{/block}
{block content}
    {control table}
{/block}