{block title}{_'Obchodní případy'}{/block}
{block description}{_'Seznam obchodních případů'}{/block}
{block header-icon}<i class="pe-7s-rocket icon-gradient bg-midnight-bloom"></i>{/block}
{block header-actions}
    <a n:href="Process:edit slug => $createProcessSlug" class="btn btn-primary">
        {_'Nový obchodní případ'}
    </a>
    {*_'Přehled OP'} - {$processState->name} - {$processState->type->name*}
{/block}
{block content}
    {control table}
{/block}