{block title}{_'Stroje'}{/block}
{block description}{_'Seznam strojů'}{/block}
{block header-icon}<i class="fa fa-car-battery icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="Machine:edit" class="btn btn-primary">
        {_'Nový stroj'}
    </a>
{/block}
{block content}
    {control table}
{/block}