/* Toggle Styles */

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 300px;
}

#sidebar-wrapper {
    z-index: 100000;
    position: fixed;
    right:300px;
    width: 0;
    height: 100%;
    margin-right: -300px;
    overflow-y: auto;
    background: #f0ede8;
    border-left: 4px solid #1462A8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 80%;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#sidebar-wrapper .form-control {
    width: 90% !important;
    height: 21px !important;
    padding: 0px 0px 0px 0px  !important;
    font-size: 11px  !important;
}
#sidebar-wrapper label {
    margin-bottom: 0px ;
}

#sidebar-wrapper .btn {
    margin: 10px !important;
}

#sidebar-wrapper h3 {
    font-size: 12px;
    color: #1462A8;
    font-weight: bold;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav > .sidebar-brand {
    height: 40px;
    font-size: 12px;
    line-height: 45px;
    padding-left: 30px;
}


@media(min-width:768px) {
    #wrapper {
        padding-right: 300px;
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}