{block title}{_'Stavy úkolů'}{/block}
{block description}{_'Seznam stavů úkolů'}{/block}
{block header-icon}<i class="fa fa-stream icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="TaskState:edit" class="btn btn-primary">
        {_'Nový stav'}
    </a>
{/block}
{block content}
    {control table}
{/block}