{block title}{_'Přehled úkolů'}{/block}
{block description}{_'Přehled všech úkolů'}{/block}
{block header-icon}<i class="fa fa-list icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Task:edit" class="btn btn-primary">
        {_'Přidat úkol'}
    </a>
{/block}
{block content}
    {control table}
{/block}