{block title}{_'Stavy absencí'}{/block}
{block description}{_'Seznam stavů absencí'}{/block}
{block header-icon}<i class="fa fa-stream icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="AbsenceState:edit" class="btn btn-primary">
        {_'Nový stav absence'}
    </a>
{/block}
{block content}
    {control table}
{/block}