{block title}{_'Jazyky'}{/block}
{block description}Správa jazyků{/block}
{block header-icon}<i class="fa fa-globe icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Language:edit" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat nový jazyk</a>
{/block}
{block content}
    {control table}
{/block}