{block title}{_'Zaměstnanci'}{/block}
{block description}{_'Seznam zaměstnanců'}{/block}
{block header-icon}<i class="fa fa-users-cog icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="Worker:edit" class="btn btn-primary">
        {_'Nový zaměstnanec'}
    </a>
{/block}
{block content}
    {control table}
{/block}