{block title}{_'Změny výjezdů'}{/block}
{block description}{_'Seznam změn ve výjezdech'}{/block}
{block header-icon}<i class="fa fa-chart-bar icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
{/block}
{block content}
    {control table}
{/block}