{block title}{_'Výrobní linka'}{/block}
{block description}{_'Seznam výrobních linek'}{/block}
{block header-icon}<i class="fa fa-ruler-combined icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="ProductionLine:edit" class="btn btn-primary">
        {_'Nová linka'}
    </a>
{/block}
{block content}
    {control table}
{/block}