{block title}{_'Nastavení'}{/block}
{block description}{_'Nastavení'}{/block}
{block header-icon}<i class="fa fa-cogs icon-gradient bg-malibu-beach"></i>{/block}
{block header-actions}
    {*<a n:href="Setting:edit" class="btn btn-primary">
        {_'Nové nastavení'}
    </a>*}
{/block}
{block content}
    {control table}
{/block}