{block title}{_'Uživatelé'}{/block}
{block description}{_'Seznam uživatelů pro přístup do systému'}{/block}
{block header-icon}<i class="fa fa-user icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="Users:edit" class="btn btn-primary">
        {_'Nový uživatel'}
    </a>
{/block}
{block content}
    {control table}
{/block}