{block title}{_'Stavy OP'}{/block}
{block description}{_'Seznam stavů OP'}{/block}
{block header-icon}<i class="fa fa-stream icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="VisitProcessState:edit" class="btn btn-primary">
        {_'Nový stav OP'}
    </a>
{/block}
{block content}
    {control table}
{/block}