{block title}{_'Pracovní pozice zaměstnanců'}{/block}
{block description}{_'Seznam pracovních pozic zaměstnanců'}{/block}
{block header-icon}<i class="fa fa-briefcase icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="WorkerPosition:edit" class="btn btn-primary">
        {_'Nová pracovní pozice'}
    </a>
{/block}
{block content}
    {control table}
{/block}