{block title}{_'Stavy workflow výjezdů'}{/block}
{block description}{_'Seznam stavů workflow výjezdů'}{/block}
{block header-icon}<i class="fa fa-stream icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="VisitState:edit" class="btn btn-primary">
        {_'Nový stav workflow'}
    </a>
{/block}
{block content}
    {control table}
{/block}