{block title}{_'Doba na posouzení'}{/block}
{block description}{_'Nastavení různé doby pro posouzení'}{/block}
{block header-icon}<i class="fa fa-hourglass icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="ApproveTime:edit" class="btn btn-primary">
        {_'Nová doba'}
    </a>
{/block}
{block content}
    {control table}
{/block}