{block title}{_'Webová nastaverní'}{/block}
{block description}{_'Správa webového nastavení'}{/block}
{block header-icon}<i class="fa fa-clone icon-gradient bg-mean-fruit"></i>{/block}
{*block header-actions}
    <a n:href="WebSetting:edit" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat nové nastavení</a>
{/block*}
{block content}
    {control table}
{/block}