{block title}{_'Posouzení nabídek'}{/block}
{block description}{_'Schvalování'}{/block}
{block header-icon}<i class="fa fa-check icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Approve:edit" class="btn btn-primary">
        {_'Nové posouzení'}
    </a>
{/block}
{block content}
    {control table}
{/block}