{block title}{_'Šablony směn'}{/block}
{block description}{_'Seznam šablon vedlejších směn'}{/block}
{block header-icon}<i class="fa fa-user-clock icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="ShiftBonusGroup:edit" class="btn btn-primary">
        {_'Nová šablona směny'}
    </a>
{/block}
{block content}
    {control table}
{/block}