{block title}{_'Změny úkolů'}{/block}
{block description}{_'Seznam změn v úkolech'}{/block}
{block header-icon}<i class="fa fa-chart-bar icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
{/block}
{block content}
    {control table}
{/block}