{block title}Produkty{/block}

{block description}Přehled produktů{/block}
{block header-icon}<i class="fa fa-boxes icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Product:edit" class="btn btn-primary"><i class="fa fa-plus pr-1"></i> Přidat nový produkt</a>
{/block}
{block content}
    {control table}
{/block}