{block title}{_'Cena dopravy'}{/block}
{block description}{_'Seznam cen dopravy'}{/block}
{block header-icon}<i class="fa fa-dolly-flatbed icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="DeliveryPrice:edit" class="btn btn-primary">
        {_'Nová cena dopravy'}
    </a>
{/block}
{block content}
    {control table}
{/block}