{block title}Partneři{/block}
{block description}Správa bannerů a log partnerů na webu{/block}
{block header-icon}<i class="fa fa-images icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="BannerPartner:edit" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat nový banner</a>
{/block}
{block content}
    {control table}
{/block}