{block title}Menu{/block}
{block description}Správa menu na přední stránce webu{/block}
{block header-icon}<i class="fa fa-columns icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Menu:edit" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat nové menu</a>
{/block}
{block content}
    {control table}
{/block}