{block title}{_'Objednavatelé'}{/block}
{block description}{_'Seznam objednavatelů'}{/block}
{block header-icon}<i class="fa fa-address-book icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="CustomerOrdered:edit" class="btn btn-primary">
        {_'Nový objednavatel'}
    </a>
{/block}
{block content}
    {control table}
{/block}