{block title}Aktuality{/block}
{block description}Správa aktualit na přední stránce webu{/block}
{block header-icon}<i class="fa fa-newspaper icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Article:edit slug => 'new'" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat novou aktualitu</a>
{/block}
{block content}
    {control table}
{/block}