{block title}ZO zápisy{/block}
{block description}Správa ZO zápisů na přední stránce webu{/block}
{block header-icon}<i class="fa fa-newspaper icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Article:edit slug => 'zo'" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat nový zápis</a>
{/block}
{block content}
    {control table}
{/block}