{block title}{_'Dovednosti'}{/block}
{block description}{_'Seznam dovedností pro pracovní pozice'}{/block}
{block header-icon}<i class="fa fa-user-cog icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Skill:edit" class="btn btn-primary">
        {_'Nová dovednost'}
    </a>
{/block}
{block content}
    {control table}
{/block}