{block title}Překlady{/block}
{block description}Správa překladů{/block}
{block header-icon}<i class="fa fa-language icon-gradient bg-mean-fruit"></i>{/block}
{block content}
    {control table}
{/block}