{block title}{_'Ke stažení'}{/block}
{block description}{_'Seznam dokumentů'}{/block}
{block header-icon}<i class="fa fa-download"></i>{/block}
{block header-actions}
    <a n:href="Documents:edit" class="btn btn-primary">
        {_'Nový dokument'}
    </a>
{/block}
{block content}
    {control table}
{/block}