{block title}{_'Spotřebovaný materiál'}{/block}
{block description}{_'Seznam spotřebovaného materiálu ve výjezdech'}{/block}
{block header-icon}<i class="fa fa-coins icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
{/block}
{block content}
    {control table}
{/block}