{block title}{_'Nastavení výroby'}{/block}
{block description}{_'Seznam nastavení pro plánování výroby'}{/block}
{block header-icon}<i class="fa fa-cogs icon-gradient bg-mean-fruit"></i>{/block}
{block content}
    {control table}
{/block}