{block title}{_'Pracoviště'}{/block}
{block description}{_'Seznam pracovišť'}{/block}
{block header-icon}<i class="fa fa-people-carry icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Workplace:edit" class="btn btn-primary">
        {_'Nové pracoviště'}
    </a>
{/block}
{block content}
    {control table}
{/block}