{block title}{_'Náměty a připomínky'}{/block}
{block description}{_'Přehled všech námětů a připomínek'}{/block}
{block header-icon}<i class="fa fa-question icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
{/block}
{block content}
    {control table}
{/block}