{block title}{_'Materiály'}{/block}
{block description}{_'Seznam materiálů'}{/block}
{block header-icon}<i class="fa fa-cubes icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="Material:edit" class="btn btn-primary">
        {_'Nový materiál'}
    </a>
{/block}
{block content}
    {control table}
{/block}