{block title}{_'Stavy výjezdů'}{/block}
{block description}{_'Seznam stavů výjezdů'}{/block}
{block header-icon}<i class="fa fa-stream icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="VisitStatus:edit" class="btn btn-primary">
        {_'Nový stav výjezdu'}
    </a>
{/block}
{block content}
    {control table}
{/block}