<!DOCTYPE html>
<html lang="{$locale}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="{$locale}">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Webrex demo Intranet">

    <meta name="author" content="WebRex s.r.o."/>
    <title>{ifset title}{include title|stripHtml} | {/ifset} Webrex demo Intranet</title>
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="googlebot" content="noindex,nofollow,noarchive"/>

    <link href="{$basePath}/assets/css/intra.css?v={php echo filemtime('assets/css/intra.css')}" rel="stylesheet">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    {block head}{/block}
</head>
<body>
    {include content}

    <script type="text/javascript" src="{$basePath}/assets/js/intra.bundle.js?v={php echo filemtime('assets/js/intra.bundle.js')}"></script>
    <script src="{$basePath}/assets/js/live-form-validation.js"></script>
    <!-- CK Editor -->
    <script type="text/javascript" src="{$basePath}/assets/packages/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="{$basePath}/assets/packages/ckeditor/adapters/jquery.js"></script>
    <script>
        LiveForm.setOptions({
            messageErrorPrefix: '',
            wait: 500
        });
    </script>
    {snippet flashess}
        {foreach $flashes as $flash}
            <script>
                $(document).ready(function () {
                    toastr[{$flash->type}]({$flash->message|translate});
                });
            </script>
        {/foreach}
    {/snippet}
</body>
</html>