{block title}{_'Poznámky'}{/block}
{block description}{_'Seznam poznámek k zaměstnancům'}{/block}
{block header-icon}<i class="fa fa-sticky-note icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="WorkerNote:edit" class="btn btn-primary">
        {_'Nová poznámka'}
    </a>
{/block}
{block content}
    {control table}
{/block}