{block title}{_'Absence'}{/block}
{block description}{_'Evidence absencí'}{/block}
{block header-icon}<i class="fa fa-calendar-minus icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="Vacation:edit" class="btn btn-primary">
        {_'Nová absence'}
    </a>
{/block}
{block content}
    {control table}
{/block}