{block title}{_'Stavy zákazníků'}{/block}
{block description}{_'Seznam stavů zákazníků'}{/block}
{block header-icon}<i class="pe-7s-users icon-gradient bg-mean-fruit"></i>{/block}
{block header-actions}
    <a n:href="CustomerState:edit" class="btn btn-primary">
        {_'Nový stav zákazníka'}
    </a>
{/block}
{block content}
    {control table}
{/block}