{block title}{_'Skupiny materiálů'}{/block}
{block description}{_'Seznam skupin materiálů'}{/block}
{block header-icon}<i class="fa fa-th icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="MaterialGroup:edit" class="btn btn-primary">
        {_'Nová skupina materiálu'}
    </a>
{/block}
{block content}
    {control table}
{/block}