{block title}{_'Zákazníci'}{/block}
{block description}{_'Seznam zákazníků'}{/block}
{block header-icon}<i class="fa fa-users icon-gradient bg-happy-itmeo"></i>{/block}
{block header-actions}
    <a n:href="Customer:edit" class="btn btn-primary">
        {_'Nový zákazník'}
    </a>
{/block}
{block content}
    {control table}
{/block}